@import "colors";

@import "../node_modules/bootstrap/scss/bootstrap";

$custom-colors: (
  "green-light" : #a9bebe
);

$theme-colors: map-merge($theme-colors, $custom-colors);

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}