.courseBrief {
  @include adaptive-value("padding-bottom", 90, 40, 1);
  @include adaptive-value("margin-bottom", 50, 25, 1);
  @media (max-width: 1200px) {
    @include adaptive-value("padding-left", 40, 15, 1);
    @include adaptive-value("padding-right", 40, 15, 1);
  }
  h2 {
    @include adaptive-value("margin-bottom", 75, 55, 1);
  }
  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__divider {
    display: none;
    @media (max-width: 1240px) {
      display: block;
    }
  }
  &__element {
    flex: 0 0 calc(25% - 10px);
    @media (max-width: 1240px) {
      flex-basis: calc(50% - 20px);
    }
    @media (max-width: 768px) {
      flex-basis: calc(50% - 10px);
    }
    @media (max-width: 400px) {
      flex-basis: calc(50% - 5px);
    }
    @include adaptive-value("margin-bottom", 70, 15, 1);
    @include adaptive-value("padding", 30, 10, 1);
    position: relative;
    border: 1px solid $secondary-light;
    @include adaptive-value("border-radius", 30, 20, 1);
  }
  &__num {
    text-align: center;
    @include adaptive-value("font-size", 70, 45, 1);
    font-weight: 600;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, $secondary, #fefefe);
  }
  &__text {
    p {
      text-align: center;
    }
  }
}