@import "./../templates/colors";
@import "./../templates/adaptive-value";

.homeHero {
  @include adaptive-value("padding-top", 60, 20, 1);
  @include adaptive-value("margin-bottom", 120, 80, 1);
  @media (max-width: 1200px) {
    padding-top: 0;
  }
  &__row {
    @include adaptive-value("max-width", 1200, 900, 1);
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 768px) {
      max-width: 100%;
    }
    overflow: hidden;
    display: flex;
    @include adaptive-value("padding-top", 60, 30, 1);
    @include adaptive-value("padding-bottom", 60, 30, 1);
    @include adaptive-value("padding-left", 30, 15, 1);
    @include adaptive-value("padding-right", 30, 15, 1);
    @media (min-width: 1024px) {
      @include alpha-attribute('background-color', rgba($secondary, 0.4), $secondary);
    }
    border-radius: 2px;
    @media (max-width: 1000px) {
      flex-wrap: wrap;
    }
  }
  &__image {
    position: relative;
    z-index: 1;
    @media (max-width: 960px) {
      //opacity: 0.4;
    }
    flex: 0 0 calc(50% - 30px);
    @media (max-width: 1000px) {
      flex: 0 0 100%;
    }
  }
  &__image-container {
    position: absolute;
    top: 0;
    right: 0;
    //height: 100%;
    @media (max-width: 768px) {
      width: 100vw;
      right: 50%;
      transform: translateX(50%);
    }
  }
  &__image-container::before {
    @media (max-width: 768px) {

      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      content: '';
      background: rgb(34,193,195);
      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(231,238,235,1) 65%);
    }
  }
  &__info {
    z-index: 2;
    padding-left: 30px;
    @media (max-width: 960px) {
      @include adaptive-value("padding-top", 320, 270, 1);
    }
    @media (max-width: 768px) {
      padding-left: 0;
    }
    @media (max-width: 600px) {
      flex: 0 0 100%;
    }
    h1 {
      @include adaptive-value("margin-left", -10, -4, 1);
    }
  }

  &__subtitle {
    @include adaptive-value("font-size", 25, 17, 1);
    line-height: .95;
    @include adaptive-value("margin-bottom", 40, 10, 1);
    margin-top: 10px;
    font-weight: 300;
  }
  &__call {
    font-size: 20px;
    @include adaptive-value("margin-bottom", 20, 10, 1);
    line-height: 1.1;
  }
  &__btn {
    @include adaptive-value("margin-bottom", 40, 10, 1);
  }
  &__check {
    display: flex;
    @include adaptive-value("margin-bottom", 15, 8, 1);
    align-items: center;
    img {
      @include adaptive-value("margin-right", 20, 10, 1);
    }
  }
}