@import "adaptive-value";

p, a, span, h1, h2, h3, h4, h5, h6, li, pre, label, div, button, input, input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.667;
  color: #2e2e2e;
  @include adaptive-value("font-size", 16, 12, 1);
}

h1 {
  @include adaptive-value("font-size", 60, 34, 1);
  line-height: 1.13;
  text-transform: uppercase;
  letter-spacing: 0;
}

h2 {
  @include adaptive-value("font-size", 50, 36, 1);
  line-height: 1.1328;
  text-transform: uppercase;
  letter-spacing: 0;
}

h3 {
  @include adaptive-value("font-size", 30, 22, 1);
  line-height: 0.8333;
}

.text-white {
  color: #FFFFFF;
}

.text-white-desktop {
  @media (min-width: 1024px) {
    color: #ffffff;
  }
}

.text-bigger-1 {
  @include adaptive-value("font-size", 17, 13, 1);
  bdi, i {
    @include adaptive-value("font-size", 17, 13, 1);
  }
}

.text-bigger-2 {
  @include adaptive-value("font-size", 19, 15, 1);
  bdi, i {
    @include adaptive-value("font-size", 17, 13, 1);
  }
}
